th {
    background-color: #020624!important;
    color: white!important;
}

.table-row-icon{
    background-color: transparent!important;
    color: #514C4C!important;
    border: none!important;
    padding-left: 0.3vw!important;
    padding-right: 1.2vw!important;
}