.form-input-background{
    background-color: #E6E6E6!important;
}

.activity-medicine-input, .activity-medicine-input[placeholder] {
    text-align: center!important;
}

.plus-icon-button-font-awesome{
    font-size: 2vw;
    color: #8A7D7D;
}

@media only screen and (max-width: 575px){
    .plus-icon-button-font-awesome{
        font-size: 4.4vw;
        color: #8A7D7D;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .plus-icon-button-font-awesome{
        font-size: 3vw;
        color: #8A7D7D;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .plus-icon-button-font-awesome{
        font-size: 2.7vw;
        color: #8A7D7D;
    }
}
@media only screen and (min-width: 992px){
    .col-lg-form-size{
        flex-basis: 0!important;
        flex-grow: 1!important;
        min-width: 0!important;
        max-width: 100%!important;
    }
}

@media only screen and (min-width: 1200px){
    .col-xl-form-size{
        flex-basis: 0!important;
        flex-grow: 1!important;
        min-width: 0!important;
        max-width: 100%!important;
    }
}

@media only screen and (min-width: 954px) and (max-width: 1199px){
    .gap-between-select-item{
        flex: 0 0 50%!important;
        max-width: 50%!important;
    }
}