.Order_list_column {
  background-color: #d1e3e2;
  margin-left: -15px;
}

.your-orders-text {
  font-weight: 700;
  font-size: 3vw;
}

.Order-Numbers {
  background-color: #dccece;
  margin-right: -15px;
}

.Invoice_Column {
  margin-left: auto;
  margin-right: auto;
}

.doctor-image {
  width: 65% !important;
}

@media screen and (max-width: 767px) {
  .orderLabel {
    font-size: 3vw;
  }
  .dateLabel {
    font-size: 2.7vw;
  }
  .your-orders-text {
    font-size: 4vw;
  }
}

@media screen and (max-width: 575px) {
  .orderLabel {
    font-size: 4vw;
  }
  .dateLabel {
    font-size: 3vw;
  }
  .your-orders-text {
    font-size: 5vw;
  }
}